html {
    background: rgb(75, 41, 175);

    /* TODO: Find a bug fix for WebKit gradients */
    /* background: linear-gradient(180deg, rgba(45,29,98,1) 0%, rgba(108,63,255,1) 100%); */

    background-repeat: no-repeat;
    background-attachment: scroll;
}

split {
    display: block;
    width: 100%;
    background-color: rgb(55, 29, 128);
    text-align: center;
    color: #ffffff;
    height: 2px;
    border-radius: 5em;
}

div.flex_grid {
    flex-direction: column;
}

div.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

project_card {
    display: inline-block;
    margin: 1rem;
    padding: 1em;
    width: 20em;

    /* background: rgb(21, 20, 20); */

    /* background: rgb(0, 0, 0, 0.8); */
    background: rgb(21, 14, 41);

    /* backdrop-filter: blur(5em); */

    /* This filter makes it appear elevated */
    filter: drop-shadow(-0.2em 0.2em 0.2em rgba(0, 0, 0, 0.35))
            drop-shadow(0.2em 0.2em 0.2em rgba(0, 0, 0, 0.35))
            drop-shadow(0.2em -0.2em 0.2em rgba(0, 0, 0, 0.35))
            drop-shadow(-0.2em -0.2em 0.2em rgba(108, 63, 255, 1));

    /* This filter makes it appear sunken in */
    /*
    filter: drop-shadow(0.2em -0.2em 0.2em rgba(0, 0, 0, 0.35))
            drop-shadow(-0.2em -0.2em 0.2em rgba(0, 0, 0, 0.35))
            drop-shadow(-0.2em 0.2em 0.2em rgba(0, 0, 0, 0.35))
            drop-shadow(0.2em 0.2em 0.2em rgba(108, 63, 255, 1));
    */

    border-radius: 1em;
}

project_card.auto_width {
    width: auto;
}

project_card.about_me {
    width: 37.5em;
}

project_card.social {
    width: 12.5em;
}

project_card.minor {
    margin: 0.5rem;
    width: 35em;
}

project_card.video_card {
    width: auto;
    height: auto;
    padding: 0.5em;
}

img.centered {
    display: block;
    margin: auto;
    left: 50%;
}

.rounded {
    border-radius: 1em;
}