body {
    background: rgb(45,29,98);
    background: linear-gradient(180deg, rgba(45,29,98,1) 0%, rgba(108,63,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

div.flex_grid {
    flex-direction: column;

    left: 50%;
    margin: auto;
}

div.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

project_card {
    display: inline-block;
    margin: 1rem;
    padding: 1em;
    width: 20em;

    /* background: rgb(21, 20, 20); */

    background: rgb(0, 0, 0, 0.8);
    background: rgba(7, 7, 7, 0.8);

    backdrop-filter: blur(5em);

    filter: drop-shadow(-0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3))
            drop-shadow(0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3))
            drop-shadow(0.2em -0.2em 0.2em rgba(0, 0, 0, 0.3))
            drop-shadow(-0.2em -0.2em 0.2em rgba(108, 63, 255, 1));

    border-radius: 1em;
}

project_card.about_me {
    width: 37.5em;
}

project_card.social {
    width: 17.5em;
}

project_card.minor {
    margin: 0.5rem;
    width: 40em;
}

project_card.video_card {
    width: auto;
    height: auto;
    padding: 0.5em;
}

img.centered {
    display: block;
    margin: auto;
    left: 50%;
}

.rounded {
    border-radius: 1em;
}